* {
			box-sizing: border-box;

		}
		section {
			font-family: sans-serif;
			font-style: italic;
			float: left;
			width: 31%;
			margin: 1.1666%;

		}
		
		h1 {
			text-align: center;

			/*margin-top:25px;
			margin-left: 50%;*/
		}
		h2 {
			text-align: center;
			margin-left: 65%;
			margin-top: 0px;
			position: relative;
			left: 26px;
			border-width: 2px;
			border-style: solid;
			border-color: red;
			background-color: MistyRose;

		}
		#s1 {
			padding-left: 25px;
			padding-right: 25px;
			
			border-style: solid;
			border-color: black;
			background-color: DarkGreen;
		}
#s2 {
			padding-left: 25px;
			padding-right: 25px;
			
			border-style: solid;
			border-color: black;
			background-color: DimGrey;
		}
#s3 {
			padding-left: 25px;
			padding-right: 25px;
			
			border-style: solid;
			border-color: black;
			background-color: MediumPurple;
		}
		@media (min-width: 992px) {
			section {
				width: 31%;

			}
		}
		@media (min-width: 768px) and (max-width: 991px){
			#s1 {
				width: 46.5%;
				margin: 1.75%;
			}
			#s2 {
				width: 46.5%;
				margin: 1.75%;
			}
			#s3 {
				width: 96.5%;
				margin: 1.75%;
			}
		}
		@media (max-width: 767px){
			#s1 {
				width: 96.5%;
				margin-left: 1.75%;
			}
			#s2 {
				width: 96.5%;
				margin-left: 1.75%;
			}
			#s3 {
				width: 96.5%;
				margin-left: 1.75%;
			}
		}
		/*.section-wrapper {
			margin-left: 10%;
			margin-right: 10%;
		}*/